.scrollable {
  overflow-y: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 10px;
}

.loader {
  padding: 10px;
  font-size: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  text-align: center;
}
